
---
title: 질문 및 문제
description: Brightcove 네이티브 SDK와 관련된 질문 및 문제.
parent: Developer Support 
---


<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">주제{{ page.title }}</h2>
        <ul>
        {% for item in site.data.navigation %} {% if item.name == 'Developer Support' %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
                  <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
      </div>
    </section>
  </section>
</article>
<script>
  var h1 = document.querySelector('h1'), 경로 = location.pathname, new_location = path.replace('지원', '개발자 지원'), 메시지 = '<h3>이 페이지는 다음으로 이동했습니다. <a href="https://sdks.support.brightcove.com' + new_location + '"> https://sdks.support.brightcove.com'  + new_location + '</a> . 북마크를 업데이트하세요! 5초 후에 리디렉션됩니다.<h3>'; console.log('new_location', new_location); h1.insertAdjacentHTML('afterend', message); redirect(); function redirect() { var t = window.setTimeout(go_to_new_location, 5000); } function go_to_new_location() { window.location.pathname = new_location; }

</script>