
---
title: 재생
description: Android용 Brightcove 기본 SDK를 사용할 때 비디오 재생에 사용할 수 있는 옵션에 대해 알아보십시오.
parent: Android Development 
---


<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">주제{{ page.title }}</h2>
        <ul>
        {% for item in site.data.navigation %} {% if item.name == 'Android Development' %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
                  <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
      </div>
    </section>
  </section>
</article>