
---
title: 프레임워크
description: Android용 Brightcove 네이티브 SDK를 지원하는 기본 프레임워크 알아보기
parent: Android Development 
---


<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">주제{{ page.title }}</h2>
        <ul>
        {% for item in site.data.navigation %} {% if item.name == 'Android Development' %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
                  <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
      </div>
    </section>
  </section>
</article>